<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="my.css">
</head>
<body>
<div class="container">
  <div class="row header">
    <div class="header-left">
      <ul class="menu">
        <li><a href="#">Logo</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contract</a></li>
      </ul>
    </div>
    <div class="header-right">
      <a href="#" class="login">Login</a>
    </div>
  </div>
  <div class="row main">
    <div class="col-s-12 col-m-2 col-l-2 left">
      <ul>
        <li><a href="my.css">link</a></li>
        <li><a href="my.css">link</a></li>
        <li><a href="my.css">link</a></li>
      </ul>
    </div>
    <div class="col-s-12 col-m-10 col-l-8 center">
      <div class="row">
        <div class="col-s-12 col-m-12 col-l-12"><h1>Welcome</h1></div>
      </div>
      <div class="row">
        <p class="col-s-12 col-m-12 col-l-12 p"><b>Việt Nam</b>, quốc hiệu đầy đủ là <b>Cộng hòa xã hội chủ nghĩa Việt Nam</b>,
          [11] là một quốc gia nằm ở cực Đông của <b style="color: skyblue">bán đảo Đông Dương</b>
          thuộc khu vực <b style="color: skyblue"> Đông Nam Á</b>, giáp với <b style="color: skyblue">Lào</b>, <b style="color: skyblue">Campuchia</b>,
          <b style="color: skyblue">Trung Quốc</b>, <b style="color: skyblue">biển Đông</b> và <b style="color: skyblue">vịnh Thái Lan</b>.</p>
      </div>
      <hr>
      <div class="row">
        <div class="col-s-12 col-m-12 col-l-12"><h2>Test</h2></div>
      </div>
      <div class="row">
        <p class="col-s-12 col-m-12 col-l-12 p">Description</p>
      </div>
    </div>
    <div class="col-s-12 col-m-12 col-l-2 right">
      <ul>
        <li><a href="#">ADS</a></li>
        <li><a href="#">ADS</a></li>
      </ul>
    </div>
  </div>
  <div class="footer">footer text</div>
</div>
</body>
</html>